html {
    background-color: rgb(240, 234, 228);
    margin: 0;
}

.selfie {
    border-radius: 50%;
    width: 200px;
    height: auto;
    justify-content: center;
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 40px;
}

.body {
    margin-top: 10px;
}

h1{
    text-align: center;
}

.clear {
    padding: 20px;
}

header {
    margin: 10px;
}

.logo {
    width: 100%;
    max-height: 200px;
    text-align: center;
    justify-content: center;
    padding-bottom: 10px;
    margin-bottom: 0;
    margin-top: 0;
}

.logo img {
    width: 30%;
}

hr {
    margin: 0;
}
.myLinks {
    font-family: "Abril Fatface", serif;
    color: rgb(157, 131, 109);
    font-size: 20px;
    text-align: center;
    margin-top: 0;
}

.topnav {
    color: rgb(157, 131, 109);
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.4);
    text-align: center;
    justify-content: space-between;
    padding: 10px;
}

.topnav a {
    justify-content: space-between;
    color: rgb(157, 131, 109);
    padding: 60px;
}

.topnav a:hover {
    color: rgb(0, 0, 0);
}

.icon,
.active {
    display: none;
}

hr {
    color: rgb(157, 131, 109);
}

.welcome {
    font-family: "Bodoni Moda", serif;
    font-size: 20px;
    font-weight: 100;
    text-align: left;
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
}

.welcome h1 {
    text-align: center;
}

.signature {
    font-family: "Herr Von Muellerhoff", cursive;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 3px;
    font-size: 40px;
    text-align: center;
    margin: 10px;
}

.card1,
.card2,
.card3 {
    background-color: rgb(189, 164, 144);
    width: 400px;
    padding: 15px;
    margin: 20px;
    border-radius: 20px;
    font-family: "Bodoni Moda", serif;
    font-size: 20px;
    text-align: justify;
}

.card1:hover,
.card2:hover,
.card3:hover {
    transition: transform 0.4s;
}

.card1:hover,
.card2:hover,
.card3:hover {
    transform: scale(1.1);
}

.cards {
    width: 100%;
}

.price-card {
    display: flex;
    margin-top: 60px;
}

.pricelist {
    background-color: rgb(189, 164, 144);
    border-radius: 20px;
    padding: 20px;
    margin-left: 250px;
    width: 100%;
    height: 700px;
    font-family: "Bodoni Moda", serif;
}

.pl-header {
    margin-bottom: 30px;
    justify-content: center;
}

.services {
    width: 30%;
    display: inline-block;
    box-sizing: border-box;
    text-align: left;
}

.map{
    overflow: hidden;
    padding-bottom: 30%;
    position: relative;
    height: 0;
    margin: 60px;
    margin-top:30px;
}

.map iframe{
    left:0;
    top:0;
    height: 100%;
    width:100%;
    position: absolute;
    border-radius: 25px;
}

.contact-info {
    display: inline-flex;
    width: 100%;
}

.contact-info,
.social {
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.prices {
    text-align: right;
    padding-left: 10px;
    width: 70%;
    display: inline-block;
    box-sizing: border-box;
}

.cards {
    display: flex;
}

.home-img {
    width: 400px;
    height: auto;
    bottom: 10px;
}

.pl-header h1 {
    text-align: center;
}

h2 {
    justify-content: left;
    text-align: left;
    color: rgb(240, 234, 228);
    font-size: 20px;
}

h2:hover {
    color: black;
}

.footer {
    font-size: 20px;
    margin-top: auto;
}

.social a {
    text-align: center;
    justify-content: center;
}

.fa-solid,
.fa-phone {
    padding-right: 10px;
}

.fa-solid,
.fa-envelope {
    padding-left: 30px;
}

a {
    padding-left: 20px;
    padding-right: 20px;
    color: black;
}

a:hover,
footer:hover {
    color: rgb(126, 105, 88);
}

/* Contact form inserted from W3 Schools */
/* Style inputs with type="text", select elements and textareas */
input[type="text"],
input[type="email"],
select,
textarea {
    display: flex;
    justify-content: center;
    width: 100%; /* Full width */
    padding: 5px; /* Some padding */
    border: 1px solid rgb(0, 0, 0); /*Border color */
    border-radius: 15px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: both; /* Allow the user to vertically and horizontally resize the textarea */
}

input[type="submit"][value="Submit"]{
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 20px;
    margin-left:30%;
    width:120px;
    height: 50px;
    font-size: 20px;
    font-family:"Bodoni Moda", serif ;
}



/* Style the submit button with a specific background color etc */
.message-header {
    padding: 20px;
    text-align: center;
    font-family:"Bodoni Moda", serif ;
}

/* Add a background color and some padding around the form */
.contact {
    border-radius: 20px;
    background-color: rgb(189, 164, 144);
    padding: 3vw;
    margin: 5vw;
    justify-content: center;
    text-align: left;
    width: 90%;
    display: inline-block;
    box-sizing: border-box;
}

label {
    font-family: "Bodoni Moda", serif;
    padding:10px;
    font-size:18px;
}

.policy {
    font-family: "Bodoni Moda", serif;
    font-size: 20px;
    margin: 100px;
    text-align: justify;
    margin-bottom: 40px;
}

.policy h1 {
    text-align: center;
}

.policy h2 {
    color: black;
}

.policy h2:hover {
    color: rgb(189, 164, 144);
}

/* Large devices over 1281px */
@media (min-width: 1281px) {
    .icon,
    .active {
        display: none;
    }

    .pricelist {
        max-width: 60%;
    }

    input[type="submit"][value="Submit"]{
        background-color: rgb(0, 0, 0);
        color: white;
        margin-left: 530px;
    }

    .map{
        overflow: hidden;
        padding-bottom: 30%;
        position: relative;
        height: 0;
        margin: 60px;
        margin-top:30px;
    }
    
    .map iframe{
        left:0;
        top:0;
        height: 100%;
        width:100%;
        position: absolute;
        border-radius: 25px;
    }

    h2:hover {
        color: black;
    }

    .flex-wrapper h1{
        text-align: center;
        font-size: 30px;
    }
}

/* Laptops, Desktops, 1025px to 1280px */
@media (min-width: 1025px) and (max-width: 1280px) {
    .icon,
    .active {
        display: none;
    }

.topnav{
    width:100%;
    max-width:1280px;
    margin:0;
}

.topnav a{
    width:100%;
    padding:50px;
}

.pricelist {
    max-width: 60%;
}

.map{
    overflow: hidden;
    padding-bottom: 30%;
    position: relative;
    height: 0;
    margin: 60px;
    margin-top:30px;
}

.map iframe{
    left:0;
    top:0;
    height: 100%;
    width:100%;
    position: absolute;
    border-radius: 25px;
}

input[type="submit"] {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 100px;
    font-size: 20px;
    text-align: center;
    padding:10px;
    margin: 40px;
}

input[type="submit"][value="Submit"]{
    background-color: rgb(0, 0, 0);
    color: white;
    margin-left: 530px;
}

h2:hover {
    color: black;
}

.flex-wrapper h1{
    text-align: center;
    font-size: 30px;
}

.gdpr-contact{
    text-align: right;
    margin-top:90px;
}
}

/* Tablets/Ipads, 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
    /* Burger menu */
    /* Style the navigation menu */
    .topnav {
        overflow: hidden;
        background-color: rgb(189, 164, 144);
        position: relative;
    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav .myLinks {
        display: none;
    }

    /* Style navigation menu links */
    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        font-family: "Bodoni Moda", serif;
    }

    /* Style the hamburger menu */
    .topnav a.icon {
        background: rgb(189, 164, 144);
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    /* Add a grey background color on mouse-over */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    /* Style the active link (or home/logo) */
    .active {
        background-color: rgb(189, 164, 144);
        color: white;
    }

    .welcome{
        margin:20px;
    }

    .cards {
        overflow: auto;
        padding: 10px;
    }

    .card1,
    .card2,
    .card3 {
        width: 60%;
        font-size: 20px;
        align-items: center;
        justify-content: center;
    }

    .home-img {
        justify-content: center;
        place-items: center;
        width: auto;
        max-height: 400px;
    }

    .price-wrapper {
        width: 100%;
        margin: 0px;
        margin-top: 0px;
    }
    .pricelist {
        max-width:800px;
        height: auto;
        margin:15px;
        margin-left: 10;
        width:97%;
        margin-top: 0;
    }

    .price-card{
        margin-top:20px;
    }

    .pricelist h1 {
        font-size: 28px;
    }

    .pricelist h2 {
        font-size: 22px;
    }

    .services, .prices {
        padding:15px;
    }

    h2:hover {
        color: black;
    }

    .flex-wrapper{
        margin: 0px;
    }

    .flex-wrapper h1{
        text-align: center;
        font-size: 30px;
    }

    .contact{
        margin:15px;
        width:97%;
    }

    input[type="submit"][value="Submit"]{
        background-color: rgb(0, 0, 0);
        color: white;
        margin-left: 300px;
    }

    .map{
        overflow: hidden;
        padding-bottom: 30%;
        position: relative;
        height: 0;
        margin: 20px;
        margin-top:30px;
    }
    
    .map iframe{
        left:0;
        top:0;
        height: 100%;
        width:100%;
        position: absolute;
        border-radius: 25px;
    }

    /* Footer */
    .footer{
        display: grid;
        margin-bottom: 40px;

    }

    .social a{
        display: grid;
        width:100%;
        padding:15px;
    }

    .fa-solid,
    .fa-phone {
    padding: 8px;
    padding-bottom: 30px;
}

    .fa-solid,
    .fa-envelope {
        padding: 8px;
    }

    .policy{
        padding:0;
        margin:30px;
    }

    .gdpr-contact{
        text-align: right;
        margin-top:90px;
    }
}

/* Low resolution tablets, mobiles-Landscape, 481px to 767px */
@media (min-width: 481px) and (max-width: 767px) {
    /* Burger menu */
    /* Style the navigation menu */
    .topnav {
        overflow: hidden;
        background-color: rgb(189, 164, 144);
        position: relative;
    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav .myLinks {
        display: none;
    }

    /* Style navigation menu links */
    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        font-family: "Bodoni Moda", serif;
    }

    /* Style the hamburger menu */
    .topnav a.icon {
        background: rgb(189, 164, 144);
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    /* Add a grey background color on mouse-over */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    /* Style the active link (or home/logo) */
    .active {
        background-color: rgb(189, 164, 144);
        color: white;
    }

    .cards {
        display: inline-block;
    }

    .card1,
    .card2,
    .card3 {
        width: 80%;
        font-size: 15px;
    }

    h2:hover {
        color: black;
    }

    /* Footer */
    .footer{
        display: grid;
        margin-bottom: 40px;

    }

    .social a{
        display: grid;
        width:70%;
    }

    .flex-wrapper h1{
        text-align: center;
        font-size: 30px;
    }

    .gdpr-contact{
        text-align: right;
        margin-top:90px;
    }
}

/* Most of smartphones-portrait, 320px to 479px */
@media (min-width: 320px) and (max-width: 480px) {
    .navigation {
        width: 100%;
    }

    h1 {
        font-size: 20px;
    }

    .selfie{
        width:40%;
    }

    .welcome {
        margin: 20px;
        font-size: 15px;
    }

    .signature {
        font-size: 25px;
    }

    .cards {
        display: inline-block;
    }

    .card1,
    .card2,
    .card3 {
        width: 80%;
        font-size: 15px;
    }

    .home-img {
        width: 100%;
    }

    .cards h2 {
        text-align: center;
    }
    /* Footer Styling */
    .social {
        justify-content: left;
        height: 150px;
    }

    .social a {
        font-size: 18px;
        padding: 15px;
        justify-content: center;
        text-align: center;
        display:grid;
    }


    .fa-solid,
    .fa-phone {
        font-size: 15px;
        padding:10px;
    }

    .fa-solid,
    .fa-envelope {
        font-size: 15px;
        padding:10px;
    }
    /* Pricelist styling */
    .pricelist {
        width: 100%;
        margin: 0;
        height: auto;
    }

    .price-card {
        margin: 0px;
        width: 100%;
    }

    .services{
        text-align: left;
    }

    .prices{
        text-align: right;
    }

    h2:hover {
        color: black;
    }

    /* Policy */
    .policy {
        width: 90%;
        margin: 20px;
    }

    /* Contact page */
    .map{
        overflow: hidden;
        padding-bottom: 30%;
        position: relative;
        height: 0;
        margin: 10px;
        margin-top:30px;
    }
    
    .map iframe{
        left:0;
        top:0;
        height: 100%;
        width:100%;
        position: absolute;
        border-radius: 25px;
    }

    /* Burger menu */
    /* Style the navigation menu */
    .topnav {
        overflow: hidden;
        background-color: rgb(189, 164, 144);
        position: relative;
    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav .myLinks {
        display: none;
    }

    /* Style navigation menu links */
    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        font-family: "Bodoni Moda", serif;
    }

    /* Style the hamburger menu */
    .topnav a.icon {
        background: rgb(189, 164, 144);
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    /* Add a grey background color on mouse-over */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    /* Style the active link (or home/logo) */
    .active {
        background-color: rgb(189, 164, 144);
        color: white;
    }

    /* Footer */
    .footer{
        display: grid;
        margin-bottom: 40px;
    }

    .social a{
        display: grid;
    }

    .flex-wrapper h1{
        text-align: center;
        font-size: 30px;
    }

    .policy{
        font-size:15px;
    }

    .policy h1{
        font-size: 20px;
    }

    .gdpr-contact{
        text-align: right;
        margin-top:70px;
    }

    .contact{
        margin:0px;
        width:100%;
    }

    input[type="submit"][value="Submit"]{
        border-radius: 20px;
        width:100px;
        height: 40px;
        font-size: 20px;
        margin-left: 35%;
    }
}
