html {
    background-color:  rgb(209, 175, 153);
    margin: 0;
}

/* Hero image styling */
body, html {
    height: 100%;
}


/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(135, 81, 38, 0.791), rgba(69, 33, 15, 0.1)), url("/assets/photos/sofanude.jpg");

  /* Set a specific height */
  height: 50%;
  width: 100%;
  min-height: 400px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5em;
  font-family: "Herr Von Muellerhoff", cursive; 
}

.signature{
    font-family: "Herr Von Muellerhoff", cursive;
}

button{
    font-size: 20px;
    font-family:"Bodoni Moda", serif;
    background-color: rgb(240, 224, 216, 0.6);
    border-radius: 20px;
    border: none;
    color: rgb(126, 105, 88);
}

button a {
    text-decoration: none;
    font-family:"Bodoni Moda", serif;
}

.selfie {
    border-radius: 50%;
    width: 200px;
    height: auto;
    justify-content: center;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display:none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.9s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Styling gallery */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 24%;
    padding: 0 6px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 40px;
}

.body {
    margin-top: 10px;
}

h1{
    text-align: center;
    font-family: "Abril Fatface", serif;
    font-weight: 100;
}

.clear {
    padding: 20px;
}

header {
    margin: 10px;
}

.logo {
    width: 35%;
    height:100%;
    padding-bottom:2px;
    margin-bottom: 0;
    margin-top: 40px;
    position: relative;
    
}

.logo img {
    width: 10%;
}


hr {
    margin: 0;
}

.myLinks {
    font-family: "Abril Fatface", serif;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    margin-top: 0;
    text-decoration: none;
}

.myLinks a{
    text-decoration: none;
}

.topnav {
    color: rgb(210, 175, 153);
    text-align: center;
    justify-content: space-between;
    padding: 10px;
}

.topnav a {
    justify-content: space-between;
    color: rgb(209, 175, 153);
    padding: 60px;
}

.topnav a:hover {
    color: rgb(0, 0, 0);
}

.icon,
.active {
    display: none;
}

hr {
    color: rgb(209, 175, 135);
}

.welcome {
    font-family: "Bodoni Moda", serif;
    font-size: 20px;
    font-weight: 100;
    text-align: left;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.welcome h1 {
    text-align: center;
}

h2 .signature {
    font-family: "Herr Von Muellerhoff", cursive;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 3px;
    font-size: 30px;
    text-align: center;
    margin: 10px;
}

.card1,
.card2,
.card3 {
    background-color: rgb(113, 80, 57, 0.7);
    width: 500px;
    padding: 15px;
    margin: 20px;
    border-radius: 20px;
    font-family: "Bodoni Moda", serif;
    font-size: 20px;
    text-align: justify;
}

.card1:hover,
.card2:hover,
.card3:hover {
    transition: transform 0.4s;
}

.card1:hover,
.card2:hover,
.card3:hover {
    transform: scale(1.1);
}

.cards {
    width: 100%;
}

.price-card {
    display: flex;
    margin-top: 60px;
}

.pricelist {
    background-color: rgb(209, 175, 153);
    border-radius: 20px;
    padding: 20px;
    margin-left: 250px;
    width: 100%;
    height: 900px;
    font-family: "Bodoni Moda", serif;
    
}

.pl-header {
    margin-bottom: 30px;
    justify-content: center;
}

.services {
    width: 30%;
    display: inline-block;
    box-sizing: border-box;
    text-align: left;
}

/* Policies */
.policy-intro{
    font-family: "Bodoni Moda", serif;
    font-size: 20px; 
}
.policy{
    margin: 10px;
    padding:0;
}

.cancellation{
    background-color: rgb(209, 175, 153);
    width: 100%;
    padding: 15px;
    border-radius: 20px;
    font-family: "Bodoni Moda", serif;
    font-size: 20px;
    text-align: justify;
    justify-content: center;
}

.gdpr{
    background-color: rgb(209, 175, 153);
    width: 100%;
    padding: 15px;
    border-radius: 20px;
    font-family: "Bodoni Moda", serif;
    font-size: 20px;
    text-align: justify;
    justify-content: center;
    margin-top: 40px;
}

.gdpr-contact{
    text-align: right;
    margin-top: 40px;
}

.social {
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.prices {
    text-align: right;
    padding-left: 10px;
    width: 70%;
    display: inline-block;
    box-sizing: border-box;
}

.cards {
    display: flex;
}

.home-img {
    width: 400px;
    height: auto;
    bottom: 10px;
}

.pl-header h1 {
    text-align: center;
}

h3{
    justify-content: left;
    text-align: left;
    color: rgb(240, 234, 228);
    font-size: 20px;
}

h3:hover {
    color: black;
}

iframe{
    width:100%;
    height: auto;
}

.footer {
    font-size: 20px;
    margin-top: auto;
    width:100%;
}

.social a {
    text-align: center;
    justify-content: center;
}

.fa-solid,
.fa-phone {
    padding-right: 10px;
}

.fa-solid,
.fa-envelope {
    padding-left: 30px;
}

a {
    padding-left: 20px;
    padding-right: 20px;
    color: black;
}

a:hover,
footer:hover {
    color: rgb(126, 105, 88);
}

label {
    font-family: "Bodoni Moda", serif;
    padding:10px;
    font-size:18px;
}

.policy {
    font-family: "Bodoni Moda", serif;
    font-size: 20px;
    margin: 100px;
    text-align: justify;
    margin-bottom: 40px;
}

.policy h1 {
    text-align: center;
}

.policy h2 {
    color: black;
}

.policy h2:hover {
    color: rgb(189, 164, 144);
}

/* Top button from w3shcool*/
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 100px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(65, 43, 28, 0.7); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 20px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

/* Large devices over 1281px */
@media (min-width: 1281px) {
    .topnav{
        box-shadow: 1px 3px 3px rgba(209, 175, 153);
    }

    .signature{
        font: "Herr Von Muellerhoff", cursive;
    }

    .icon,
    .active {
        display: none;
    }

    .pricelist {
        max-width: 60%;
        height:auto;
    }

    .pricelist h2:hover {
        color: black;
    }

    .flex-wrapper h1{
        text-align: center;
        font-size: 30px;
    }
}

/* Laptops, Desktops, 1025px to 1280px */
@media (min-width: 1025px) and (max-width: 1280px) {
    .topnav {
        color: rgb(210, 175, 153);
        text-align: center;
        justify-content: space-between;
        padding: 10px;
        box-shadow: 1px 3px 3px rgba(209, 175, 153);
    }
    
    
    .topnav a {
        justify-content: space-between;
        color: rgb(209, 175, 153);
        padding: 30px;
        font-size: 20px;
    }
    
    .topnav a:hover {
        color: rgb(0, 0, 0);
    }

    hr {
        color: rgb(209, 175, 135);
    }
    
    .icon .active {
        display: none;
    }

    .signature{
        font-family: "Herr Von Muellerhoff", cursive;
    }


.pricelist {
    max-width: 60%;
    height:auto;
}

h2:hover {
    color: black;
}

.flex-wrapper h1{
    text-align: center;
    font-size: 30px;
}

.gdpr-contact{
    text-align: right;
    margin-top:90px;
}
}

/* Tablets/Ipads, 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
    /* Burger menu */
    /* Style the navigation menu */
    .topnav {
        overflow: hidden;
        position: relative;
    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav .myLinks {
        display: none;
    }

    /* Style navigation menu links */
    .topnav a {
        background-color: rgb(209, 175, 153);
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        font-family: "Bodoni Moda", serif;
        text-align: left;
    }

    /* Style the hamburger menu */
    .topnav a.icon {
        background-color: none;
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    /* Add a grey background color on mouse-over */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    .signature{
        font: "Herr Von Muellerhoff", cursive;
    }

    /* Style the active link (or home/logo) */
    .active {
        color: white;
        text-align: left;
        
    }

    .welcome{
        margin:20px;
    }

    .cards {
        overflow: auto;
        padding: 10px;
    }

    .card1,
    .card2,
    .card3 {
        width: 60%;
        font-size: 20px;
        align-items: center;
        justify-content: center;
    }

    .home-img {
        justify-content: center;
        place-items: center;
        width: auto;
        max-height: 400px;
    }

    .price-wrapper {
        width: 100%;
        margin: 0px;
        margin-top: 0px;
    }
    .pricelist {
        max-width:800px;
        height: auto;
        margin:15px;
        margin-left: 10;
        width:97%;
        margin-top: 0;
    }

    .price-card{
        margin-top:20px;
    }

    .pricelist h1 {
        font-size: 28px;
    }

    .pricelist h2 {
        font-size: 22px;
    }

    .services, .prices {
        padding:15px;
    }

    h2:hover {
        color: black;
    }

    .flex-wrapper{
        margin: 0px;
    }

    .flex-wrapper h1{
        text-align: center;
        font-size: 30px;
    }

    /* Footer */
    .footer{
        display: grid;
        margin-bottom: 40px;

    }

    .social a{
        display: grid;
        width:100%;
        padding:15px;
    }

    .fa-solid,
    .fa-phone {
    padding: 8px;
    padding-bottom: 30px;
}

    .fa-solid,
    .fa-envelope {
        padding: 8px;
    }

    .policy{
        padding:0;
        margin:30px;
    }

    .gdpr-contact{
        text-align: right;
        margin-top:90px;
    }
}

/* Low resolution tablets, mobiles-Landscape, 481px to 767px */
@media (min-width: 481px) and (max-width: 767px) {
    /* Burger menu */
    /* Style the navigation menu */
    .topnav {
        overflow: hidden;
        background-color: rgb(209, 175, 153, 0.8);
        position: relative;
    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav .myLinks {
        display: none;
    }

    /* Style navigation menu links */
    .topnav a {
        background-color: rgb(209, 175, 153, 0.8);
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        font-family: "Bodoni Moda", serif;
        text-align: left;
    }

    /* Style the hamburger menu */
    .topnav a.icon {
        background-color: none;
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    /* Add a grey background color on mouse-over */
    .topnav a:hover {
        color: black;
    }

    /* Style the active link (or home/logo) */
    .active {
        color: white;
        text-align: left;
        top:30px;
    }

    .logo img{
        width: 170%;
        justify-content: center;
        margin-left:-9px;
        margin-top: -10px;
    }

    .signature{
        font: "Herr Von Muellerhoff", cursive;
    }

    .cards {
        display: inline-block;
    }

    .card1,
    .card2,
    .card3 {
        width: 80%;
        font-size: 15px;
    }

    h2:hover {
        color: black;
    }

    /* Footer */
    .footer{
        display: grid;
        margin-bottom: 40px;

    }

    .social a{
        display: grid;
        width:70%;
    }

    .flex-wrapper h1{
        text-align: center;
        font-size: 30px;
    }

    .gdpr-contact{
        text-align: right;
        margin-top:90px;
    }
}

/* Most of smartphones-portrait, 320px to 479px */
@media (min-width: 320px) and (max-width: 480px) {
    .logo img{
        width: 300px;
        justify-content: center;
        margin-left:-9px;
        margin-top: -10px;
    }
    
    .navigation {
        width: 100%;
    }

    button{
        font-size: 15px;
        font-family:"Bodoni Moda", serif;
        background-color: rgb(240, 224, 216, 0.6);
        border-radius: 20px;
        border: none;
        color: rgb(126, 105, 88);
    }
    
    button a {
        text-decoration: none;
        font-family:"Bodoni Moda", serif;
    }

    h1 {
        font-size: 20px;
    }

    .selfie{
        width:40%;
    }

    .welcome {
        margin: 20px;
        font-size: 15px;
    }

    .signature {
        font-size: 25px;
    }

    .cards {
        display: inline-block;
    }

    .card1,
    .card2,
    .card3 {
        width: 80%;
        font-size: 15px;
    }

    .home-img {
        width: 100%;
    }

    .cards h2 {
        text-align: center;
    }
    /* Footer Styling */
    .social {
        justify-content: left;
        height: 150px;
    }

    .social a {
        font-size: 18px;
        padding: 15px;
        justify-content: center;
        text-align: center;
        display:grid;
    }


    .fa-solid,
    .fa-phone {
        font-size: 15px;
        padding:10px;
    }

    .fa-solid,
    .fa-envelope {
        font-size: 15px;
        padding:10px;
    }
    /* Pricelist styling */
    .pricelist {
        width: 100%;
        margin: 0;
        height: auto;
    }

    .price-card {
        margin: 0px;
        width: 100%;
    }

    .services{
        text-align: left;
    }

    .prices{
        text-align: right;
    }

    h2:hover {
        color: black;
    }

    /* Policy */
    .policy {
        width: 90%;
        margin: 20px;
    }

    /* Contact page */
    .map{
        overflow: hidden;
        padding-bottom: 30%;
        position: relative;
        height: 0;
        margin: 10px;
        margin-top:30px;
    }
    
    .map iframe{
        left:0;
        top:0;
        height: 100%;
        width:100%;
        position: absolute;
        border-radius: 25px;
    }

    /* Burger menu */
    /* Style the navigation menu */
    .topnav {
        overflow: hidden;
        background-color:rgb(209, 175, 153,0.8);
        position: relative;
        width: 100%;
        margin:0;
        margin-top: -20px;
    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav .myLinks {
        display: none;
    }

    /* Style navigation menu links */
    .topnav a {
        color:white;
        background-color:rgb(209, 175, 153, 0.7);
        padding:14px;
        text-decoration:none;
        font-size: 17px;
        font-weight: 300;
        display:flex;
        font-family: "Bodoni Moda", serif;
        margin-top:0;
    }

    /* Style the hamburger menu */
    .topnav a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    /* Style the active link (or home/logo) */
    .active {
        background-color: rgba(255, 255, 255, 0.5);
    }

    /* Footer */
    .footer{
        display: grid;
        margin-bottom: 40px;
    }

    .social a{
        display: grid;
    }

    .flex-wrapper{
        margin: 10px;
    }

    .flex-wrapper h1{
        text-align: center;
        font-size: 30px;
    }

    .policy{
        font-size:15px;
        margin:10px;
        justify-content: center;
    }

    .policy h1{
        font-size: 20px;
    }

    .cancellation{
        background-color: rgb(210, 175, 153);
        width: 100%;
        padding: 15px;
        border-radius: 20px;
        font-family: "Bodoni Moda", serif;
        font-size: 15px;
        text-align: justify;
        justify-content: center;
        margin-left: -9px;
    }
    
    .gdpr{
        background-color: rgb(210, 175, 153);
        width: 100%;
        padding: 15px;
        border-radius: 20px;
        font-family: "Bodoni Moda", serif;
        font-size: 15px;
        text-align: justify;
        justify-content: center;
        margin-top: 40px;
        margin-left:-9px;
    }

    input[type="submit"][value="Submit"]{
        border-radius: 20px;
        width:100px;
        height: 40px;
        font-size: 20px;
        margin-left: 35%;
    }
}
